.App { 
  text-align: center; 
} 
 
.App-header { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  background-color: #f8f9fa; 
} 
 
.logo { 
  width: 150px; 
  height: 80px; 
  margin-right: 10px; 
  cursor: pointer; 
}